[Desktop Entry]
Name=Mailfy
GenericName=OSINT tools
Exec=mailfy.py -h
Icon=/usr/share/osrframework/logo.png
Categories=i3visio;
Terminal=true
Type=Application
Version=1.0
