results*
contrib*
logs*
*pyc
*~
creds.txt
build*
dist*
deb_dist*
*egg*
_lab*
_new*
bin*
_toinclude*
output*
fichero.txt
test*
setuptools*
tmp*
*csv
*xls
*xlsx
*ods
_*sh
*gml
*.gml_*
fuzz.txt
*.mtz
*.zip
*.back
