# -*- coding: cp1252 -*-
#
##################################################################################
#
#	This file is part of OSRFramework.
#
#	OSRFramework is free software: you can redistribute it and/or modify
#	it under the terms of the GNU General Public License as published by
#	the Free Software Foundation, either version 3 of the License, or
#	(at your option) any later version.
#
#	This program is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#	GNU General Public License for more details.
#
#	You should have received a copy of the GNU General Public License
#	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
##################################################################################

def returnListOfAPIKeys():
	'''
		:return: A dictionary containing the API Keys.
	'''
	dictAPIKeys = {}
	#dictAPIKeys["<platform>"] = "<API_KEY>"
	#
	# The platforms that need a username and password are the following. 
	# Uncomment the lines and change the <API_KEY> where needed.
	#
	#dictAPIKeys["md5crack_com"] = "<API_KEY>"
	#dictAPIKeys["pipl_com"] = "<API_KEY>"
	return dictAPIKeys
