[Desktop Entry]
Name=Phonefy
GenericName=OSINT tools
Exec=pantheon-terminal -e "phonefy.py -h"
Icon=/usr/share/osrframework/logo.png
Categories=i3visio;
Terminal=true
Type=Application
Version=1.0
