<ul class="menu center">
    <li {{ mt_home }}><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li {{ mt_research }}><a href="/research"><i class="fa fa-search"></i> Research</a></li>
    <li {{ mt_explore }}><a href="/explore"><i class="fa fa-bar-chart"></i> Explore</a></li>
    <li><a href=""><i class="fa fa-book"></i> Help</a>
        <ul>
            <li {{ mt_tutorials }}><a target="_blank" rel="noopener noreferer" href="https://github.com/i3visio/osrframework/tree/master/doc"><i class="fa fa-mortar-board"></i> Tutorials</a></li>
            <li {{ mt_faq }}><a target="_blank" rel="noopener noreferer" "href="https://github.com/i3visio/osrframework/issues"><i class="fa fa-question-circle"></i> FAQ</a></li>
        </ul>
    <li><a href=""><i class="fa fa-beer"></i> Contact</a>
        <ul>
            <li><a href="https://i3visio.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-globe"></i> Web</a></li>
            <li><a href="https://twitter.com/i3visio" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i> Twitter</a></li>
            <li><a href="https://github.com/i3visio" target="_blank" rel="noopener noreferrer"><i class="fa fa-github"></i> Github</a></li>
            <li><a href="https://i3visio.com" target="_blank" rel="noopener noreferrer"><i class="fa fa-comments-o"></i> Blog</a></li>
            <li><a href="mailto:contacto@i3visio.com"><i class="fa fa-envelope"></i> Email</a></li>
            <li class="divider"><a href="https://www.gnu.org/licenses/agpl-3.0-standalone.html" target="_blank" rel="noopener noreferrer"><i class="fa fa-code-fork"></i> License</a></li>
        </ul>
    </li>
    <!--<li {{ tm_shutdown }}><a href="/shutdown"><i class="fa fa-sign-out"></i> Exit</a></li>-->
</ul>
