<ul class="menu vertical">
    <li {{ mr_main }}><a href="/research"> Research Menu</a></li>
    <li {{ mr_usufy }}><a href="/research/usufy"><i class="fa fa-user"></i> <code>usufy.py</code></a></li>
    <li {{ mr_domainfy }}><a href="/research/domainfy"><i class="fa fa-globe"></i> <code>domainfy.py</code></a></li>
    <li {{ mr_mailfy }}><a href="/research/mailfy"><i class="fa fa-envelope"></i> <code>mailfy.py</code></a></li>
    <li {{ mr_phonefy }}><a href="/research/phonefy"><i class="fa fa-phone"></i> <code>phonefy.py</code></a></li>
    <li {{ mr_searchfy }}><a href="/research/searchfy"><i class="fa fa-group"></i> <code>searchfy.py</code></a></li>
</ul>
