<fieldset>
    <legend>Other options</legend>
    <p>These parameters are optional. If none is selected, the default options will be chosen.</p>
    <!-- Checkbox -->
    <input type="checkbox" id="open_url" name="open_url" selected="selected"/><label for="open_url" class="inline"> Open in the web browser</label> <br>
    <label for="tex_filename" class="inline" placeholder="profiles"> Case file name: </label> <input type="text" id="tex_filename" name="tex_filename" style="width: 100%;" value="profiles"/> <br>
</fieldset>
