<fieldset>
    <legend>Export options</legend>
    <p>These parameters are optional. If none is selected, the default options will be chosen.</p>
    <!-- Checkbox -->
    <input type="checkbox" id="export_csv" name="export_csv"/><label for="export_csv" class="inline"> csv</label> <br>
    <input type="checkbox" id="export_xls" name="export_xls"/><label for="export_xls" class="inline"> xls</label> <br>
    <input type="checkbox" id="export_xlsx" name="export_xlsx"/><label for="export_xlsx" class="inline"> xlsx</label> <br>
    <input type="checkbox" id="export_ods" name="export_ods"/><label for="export_ods" class="inline"> ods</label> <br>
    <input type="checkbox" id="export_json" name="export_json"/><label for="export_json" class="inline"> json</label> <br>
    <input type="checkbox" id="export_gml" name="export_gml"/><label for="export_gml" class="inline"> gml</label> <br>
</fieldset>
