<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% include '_banner.html' %}

<html xmlns="http://www.w3.org/1999/xhtml" lang="es">
	<head>

        {% include '_shared-headers.html' %}

    </head>

    <body>

        {% include '_menu-top.html' %}

        <div id="body" class="grid clearfix">
            <ul class="tabs">
                <li><a href="#type-main"> Researching using OSRFramework tools</a></li>
            </ul>
            <div id="type-main" class="tab-content">
                <!-- Menu Vertical Left -->
                <div class="col_3">
                    {% include '_menu-research.html' %}
                </div>

                <div class="col_9">
                    <h5><i class="fa fa-envelope icon-large"></i> <b>Mailfy</b>: Looking for email addresses</h5>
                    <p>TODO</p>
                    <form action="/research/usufy/run" method="post">
                        <label for="lab_command"><i class="fa fa-terminal black"></i> <code>mailfy.py</code></label>
                        <input id="tex_command" name="tex_command" type="text" size="60" placeholder="e. g.: -n i3visio -p all" />

                        <span class="tooltip-bottom" title="Launch the app as if you were in a terminal. The app name is not needed">
                            <button name="my-form" class="fa fa-cogs orange"> Launch</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>

        {% include '_footer.html' %}

    </body>
</html>
