################################################################################
#
#    Copyright 2016 Félix Brezo and Yaiza Rubio (i3visio, contacto@i3visio.com)
#
#    This file is part of OSRFramework. You can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
################################################################################

# NOTE: Lines starting with a '#' are comments provided to assist the user.

# ==============================================================================
# In this section we will define the browser configuration.
# ------------------------------------------------------------------------------

[Browser]

# The User Agent to be used. More can be found at:
#       <http://www.useragentstring.com/pages/useragentstring.php>
user_agent = Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/55.0.2883.87 Chrome/55.0.2883.87 Safari/537.36
# Seconds considered to timeout a session. Increase this value to something
#   high like 2000 to debug petitions using proxies such as OWASP ZAP.
timeout = 20000

# ==============================================================================


# ==============================================================================
# In this section we will define the proxy settings. This part is optional.
# ------------------------------------------------------------------------------

# This is the protocol of the proxy: 'ProxyHTTP' is parsed to 'http'.
[ProxyHTTP]

# The hostname. It can be an IP Address '127.0.0.1' or a domain 'example.com'.
host =
# The port of the proxy.
port =
# The credentials to be used if needed. This part is optional.
username =
password =

# A full example is below to contact to a running instance of OWASP ZAP:
#host = localhost
#port = 8080
#username = user
#password = 1234

# This is the protocol of the proxy: 'ProxyHTTPS' is parsed to 'https'.
[ProxyHTTPS]

# The hostname. It can be an IP Address '127.0.0.1' or a domain 'example.com'.
host =
# The port of the proxy.
port =
# The credentials to be used if needed. This part is optional.
username =
password =

# A full example is below to contact to a running instance of OWASP ZAP:
#host = localhost
#port = 8080
#username = user
#password = 1234

# ==============================================================================
