################################################################################
#
#    Copyright 2016 Félix Brezo and Yaiza Rubio (i3visio, contacto@i3visio.com)
#
#    This file is part of OSRFramework. You can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
################################################################################

# NOTES:
#   - Lines starting with a '#' are comments provided to assist the user.
#   - If something goes wrong and you cannot fix it, delete this file to let the
#       system restore a valid version.

# ==============================================================================
# In this section we will define the default domainfy configuration.
# ------------------------------------------------------------------------------

[domainfy]

# Tlds to be checked by default. It can include several tld:
tlds = global
#tlds = global generic cc brand geographic
# Folder where the output files will be created (without the file name):
output_folder = ./
# Name of the output file to be used (without the extension):
file_header = profiles
# Extensions to be created. It can include several extensions:
extension = csv
#extension = csv xls xlsx
# Number of threads to be used. It should be an integer:
threads = 32

# ==============================================================================

# ==============================================================================
# In this section we will define the default entify configuration.
# ------------------------------------------------------------------------------

[entify]

# Folder where the output files will be created (without the file name):
output_folder = ./
# Name of the output file to be used (without the extension):
file_header = profiles
# Extensions to be created. It can include several extensions:
extension = csv
#extension = csv xls xlsx

# ==============================================================================

# ==============================================================================
# In this section we will define the default mailfy configuration.
# ------------------------------------------------------------------------------

[mailfy]

# Domains to be checked by default. It can include several extensions:
domains = all
#domains = gmail.com prontonmail.com
# Folder where the output files will be created (without the file name):
output_folder = ./
# Name of the output file to be used (without the extension):
file_header = profiles
# Extensions to be created. It can include several extensions:
extension = csv
#extension = csv xls xlsx
# Number of threads to be used. It should be an integer:
threads = 32

# ==============================================================================

# ==============================================================================
# In this section we will define the default phonefy configuration.
# ------------------------------------------------------------------------------

[phonefy]

# Platforms to be checked by default. It can include several extensions:
platforms = all
#platforms = listaspam
# Folder where the output files will be created (without the file name):
output_folder = ./
# Name of the output file to be used (without the extension):
file_header = profiles
# Extensions to be created. It can include several extensions:
extension = csv
#extension = csv xls xlsx

# ==============================================================================

# ==============================================================================
# In this section we will define the default searchfy configuration.
# ------------------------------------------------------------------------------

[searchfy]

# Platforms to be checked by default. It can include several extensions:
platforms = all
#platforms = twitter facebook github
# Folder where the output files will be created (without the file name):
output_folder = ./
# Name of the output file to be used (without the extension):
file_header = profiles
# Extensions to be created. It can include several extensions:
extension = csv
#extension = csv xls xlsx

# ==============================================================================

# ==============================================================================
# In this section we will define the default usufy configuration.
# ------------------------------------------------------------------------------

[usufy]

# Platforms to be checked by default. It can include several extensions:
platforms = all
#platforms = twitter facebook instagram github youtube
# Folder where the output files will be created (without the file name):
output_folder = ./
# Name of the output file to be used (without the extension):
file_header = profiles
# Extensions to be created. It can include several extensions:
extension = csv
#extension = csv xls xlsx
# Number of threads to be used. It should be an integer:
threads = 16

# ==============================================================================
